.header #Title {
    -unity-font-style: bold;
    white-space: normal;
}

.command {
    padding-left: 20px;
}

.header #Subtitle {
    display: none;
}

.command #Subtitle {
    white-space: normal;
    padding-left: 20px;
    opacity: 0.5;
}